/* Define variables for color scheme */
:root {
  --bg_color: #556573;
  --text_color: #F2E0D5;
  --link_color: #BF8275;
  --link_hover_color: #F2A488;
  --link_active_color: black;
  --link_current_page_color: #101A26;
}
/* Set all box sizing to border box*/
html {
  box-sizing: border-box;
  font-size: 10px;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
  font-size: inherit;
  font-family: 'Garamond';
}

/*Set basic settings for background, headers, paragraphs, etc... */
body {
  background-color: var(--bg_color);
  font-family: Garamond;
  color: var(--text_color);
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*Format links*/
a:visited {
  color: var(--link_color);
  text-decoration: none;
}
a:link {
  color: var(--link_color);
  text-decoration: none;
}
a:hover {
  color: var(--link_hover_color);
  text-decoration: underline;
}
a:active {
  color: var(--link_active_color);
}

/*Format download button*/
a:hover button {
  color: var(--link_hover_color);
  text-decoration: underline;
  cursor: pointer;
}

button {
  background-color: var(--bg_color);
  width: 100%;
  text-align: left;
  border: None;
  color: var(--link_color);
  padding: 0;
}

/*Format images */
.my-img {
  width: 200px;
  height: auto;
}

.content-image {
  width: 100%;
  height: auto;
}

/*Format page structure*/
.page-wrap {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  overflow: auto;
}

section {
  margin: 0;
  padding: 0;
}

.right-col {
  display:flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}


.left-col {
  padding-left: 15%;
  padding-right: 10%;
}

.main-content p {
  font-size: 2rem;
}


/*Format page with left links and scrolling of main info*/
.center-col {
  display:flex;
  flex-direction: column;
  min-height: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.center-col .main-content {
  font-size: 2rem;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  height: 80vh;
}

.center-col-nav {
  display:flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}


/*Format navigation*/
nav ul li a {
  font-size: 3rem;
}

a.current-page {
  color: var(--link_current_page_color);
  text-decoration: none;
}

/*Format left-col navigation*/
nav ul li a.local-link {
  font-size: 2rem;
}

/*Format publications*/
.pubs li {
  font-size: 1.5rem;
}

ol.pubs li {
  margin: 2rem 0;
}

cite {
  font-style: normal;
}
