/* 111, 163, 167
   53 , 110, 11
   47 , 81 , 86
   48 , 65 , 75
   39 , 52 , 60*/
body {
  background-color: rgb(39,52,60);;
  font-family: Garamond;
  color: white;
}

h1 {
  padding-left: 15%;
  font-size: 300%;
}

p {
  font-size: 160%;
  padding-left: 25%;
  padding-rigth: 25%;
}
