/* slight blue, white, light blue, dark blue, dusty blue, navy blue*/
/*
$c1: rgb(100%, 100%, 100%);
$c2: rgb(93%, 96%, 99%);
$c3: rgb(76%, 91%, 97%);
$c4: rgb(65%, 89%, 95%);
$c5: rgb(56%, 60%, 62%);
$c6: rgb(11%, 23%, 38%);
/*
/* dark blue, gold, blue, blue, white, medium blue */
$c1: rgb(9%, 11%, 15%);
$c2: rgb(82%, 65%, 6%);
$c3: rgb(16%, 47%, 71%);
$c4: rgb(16%, 47%, 71%);
$c5: rgb(100%, 100%, 100%);
$c6: rgb(5%, 18%, 29%);
