@use "utilities/colorscheme" as cs;

@font-face {
  font-family: 'Atkinson-Hyperlegible-Regular';
  src: url('./fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold';
  src: url('./fonts/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-Italic';
  src: url('./fonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible-BoldItalic';
  src: url('./fonts/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  background: linear-gradient(
    45deg,
    #87CEEB80 20%,
    #FFD3A580 40%,
    #FFD3A5FF 50%,
    #FFA07AFF 60%,
    #FFA07A80 80%,
    #FFD3A580 100%
  );
  margin: 0;
  font-family: 'Atkinson-Hyperlegible-Regular', 'Atkinson-Hyperlegible-Bold', 
		'Atkinson-Hyperlegible-Italic', 'Atkinson-Hyperlegible-BoldItalic',
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1vh;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 1vw;
  }
}

a {
  color: #000000;
}

a:hover {
  color: cs.$c2;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding-left: 1vw;
  list-style-position: inside;
}

ol {
  padding-left: 1vw;
  list-style-position: inside;
}

ul li {
  list-style-type: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

ol li {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-left: 0;
  list-style-position: inside;
}

p {
  line-height: 1.5; 
}

h1 {
  font-size: 3vw;
}
